.main__container {
  /* height: 100%; */
  max-width: 1178px;
  margin: 0 auto;
  padding: 52px 10px 37px;
  overflow: auto;
}

.main__h2 {
  font-style: normal;
  font-size: 40px;
  line-height: 42px;
  color: #000000;
  margin-bottom: 30px;
}

.main__h2:hover::before {
  border-top: 2px solid #0080c1;
  border-left: 2px solid #0080c1;
}

@media screen and (max-width: 590px) {
  .main__container {
    padding: 85px 10px 84px;
  }

  .main__h2 {
    font-size: 24px;
    line-height: 29px;
    color: #000000;
    margin-bottom: 20px;
    text-align: center;
    position: relative;
  }
  .main__h2::before {
    content: "";
    display: block;
    width: 12px;
    height: 12px;
    background-color: transparent;
    border-top: 2px solid #000000;
    border-left: 2px solid #000000;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    position: absolute;
    top: 9px;
    left: 13px;
    cursor: pointer;
  }
}
